body {
  background: url("/img/_grey.png");
  background-size:contain;
  color:royalblue;
  font-family: 'Carter One', verdana, sans-serif;
  font-weight:400;
  letter-spacing:-5px;
  margin:0;
  padding:0;
}

h1, h2, h3, h4, p, code, pre {
  margin:0;
}
h1, h2, h3, h4 {
  line-height:1.2;
}

em, strong {
  color:slateblue;
}
em {
	font-style:italic;
	text-transform:uppercase;
}
strong {
  font-weight:bolder;
  text-transform:uppercase;
}
a {
  color:blueviolent;
  text-decoration:underline;
}
a:hover {
  text-decoration:none;
}
a:active {
  position:relative;
  top:-2px;
}
a:focus {
  outline:thick dotted;
}
img {
  width:100%;
}
.slide {
  cursor:pointer;
  cursor:hand;
  position:absolute;
  top:0px;
  left:0px;
  padding:75px;
  line-height:97%;
}
.gist {
  line-height:110%;
  letter-spacing:0;
}
.code code {
  font-family: 'Cutive Mono', Mono;
  text-shadow:0px 0px 5px rgba(0,0,0,0.2);
}
.code pre {
  font-family: 'Cutive Mono', Mono;
  background-color:aliceblue;
  border: 5px dashed lightsteelblue;
  padding: 30px;
}
div.center {
  text-align:center;
}

div.imageText {
  text-shadow:0px 0px 5px rgba(0,0,0,0.2);
}